.size-filter {
  /* border: 2px solid grey; */
  margin: 20px auto auto auto;
}

.size-text p {
  font-weight: bold;
  font-size: 15px;
  padding: 0px 10px;
}

.size-chips label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.size-chips label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: 0.8em;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: 0.8em;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;
  color: #1b1a20;
  background-color: #ececec;
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: bold;
}

input:checked ~ .checkmark {
  background-color: black;
  color: #ececec;
}
