.ecom-product-image {
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.ecom-product-card {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  cursor: default;
  outline: none;
}

.ecom-product-title {
  position: relative;
  padding: 0 20px;
  height: 45px;
}

.ecom-product-title::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #eabf00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

.product-value {
  margin: 0;
}

.product-value small {
  font-size: 80%;
}
.product-value b {
  font-size: 1.5em;
  margin-left: 5px;
  font-weight: bold;
}

.ecom-product-installment {
  margin: 0;
  color: #9c9b9b;
}

.ecom-product-installment b {
  font-weight: bold;
}

.ecom-product-add-button {
  background-color: #1b1a20;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.ecom-product-add-button:hover {
  background-color: #eabf00;
}

.product-free-shipping {
  position: absolute;
  color: #ececec;
  top: 10px;
  left: 10px;
  padding: 0px 5px;
  font-size: 0.8em;
  background-color: #1b1a20;
  cursor: default;
  z-index: 1;
  opacity: 0.5;
}

.whitelist-product {
  background: url(wishlist.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: -2px -1px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  z-index: 1;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
}

.wishlist-added {
  background: url(wishlist-red.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: -2px -1px;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 480px) {
  .ecom-product-image {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
  }
  .whitelist-product:hover {
    background: url(wishlist-red.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: -2px -1px;
    -webkit-tap-highlight-color: transparent;
  }
}
