.ecom-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "size-filter"
    "products";
  max-width: 1200px;
  margin: 10px auto auto;
}

.ecom-filter {
  margin-left: 10px;
  grid-area: size-filter;
}

.ecom-products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.found-elements {
  margin-top: 10px;
  padding: 15px 15px;
  display: grid;
  height: 30px;
  align-content: center;
}

@media only screen and (min-width: 768px) {
  .ecom-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "size-filter products products products products";
    max-width: 1200px;
    margin: 10px auto auto;
  }
  .ecom-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1025px) {
  .ecom-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
