.ecom-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0px auto auto;
}

.ecom-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.found-elements {
  padding: 15px 15px;
  display: grid;
  height: 30px;
  align-content: center;
}

.product-free-shipping {
  position: absolute;
  color: #ececec;
  top: 10px;
  right: 10px;
  padding: 0px 5px;
  font-size: 0.8em;
  background-color: #1b1a20;
  cursor: default;
  z-index: 1;
  border-radius: 20px;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .ecom-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 1200px;
    margin: 0px auto auto;
  }
  .ecom-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1025px) {
  .ecom-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
