.slider {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1200px;
  /* height: 300px;
  width: 600px; */

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-arrow {
  background: url("./../../../public/left\ arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  border: 0px;
  mix-blend-mode: darken;
  cursor: pointer;
}

.right-arrow {
  background: url("./../../../public/right\ arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  left: 1100px;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  border: 0px;
  mix-blend-mode: darken;
  cursor: pointer;
}
